header ul {
    padding-left: 0;
    font-size: 1.5em;
}

header,
footer {
    padding: 0 auto;
    width: 60%;
}

header ul li {
    padding: 15px;
}

header ul {
    padding: 0;
}

main {
    width: 90%;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
    text-decoration: underline;
    font-size: 2.5em;
    font-family: cursive;
    text-shadow: 5px 5px 5px #F6Ae2D;
    color: #F26419;
}

h2 {
    text-decoration: double underline;
    color: #86BBD8;
}

p {
    text-align: justify;
}

main p {
    font-family: Arial, Helvetica, sans-serif;
}

h4 {
    font-size: 0.8em;
    font-style: italic;
    margin: 0;
    margin-bottom: 0;
    color: #F26419;
}

.commentaire {
    width: 90%;
    border: 1px dotted #F6Ae2D;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

main div div div img {
    width: 80%;
    margin: 0;
}

.gauche {
    width: 200px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px dashed #F6Ae2D;
}

.commentaire img {
    width: 50px;
    margin-top: 50px;
    border-radius: 50%;
}

footer {
    margin-top: 20px;
    padding: 20px;
    /* mettre image fond */
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

footer a,
li {
    font-size: 0.9em;
    text-decoration: non;
    color: whitesmoke;
}

body {
    background-color: #33658A;
}

header ul {
    background-color: #2F4858;
}

h3 {
    color: #F6Ae2D;
}

header a {
    color: #F6Ae2D;
}
header {
    margin-right: auto;
    margin-left: auto;
}